.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body{
    font-family: 'Rubik', sans-serif;
}

.heading{
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.searchbox {
  all: unset;
  padding: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}

.search-btn {
  all: unset;
  padding: 14px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  font-weight: 600;
}

.card {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  flex: 1;
  transition: all 0.1s ease;
  cursor: pointer;
  min-width: 200px;
  box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12),
    0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

.card:hover {
  transform: scale(1.03);
}

.cards-container {
    margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-image: url('assets/profile.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.custom-btn {
  all: unset;
  padding: 8px;
  border-radius: 6px;
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.url-btn {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.repo-count-btn {
  background-color: aqua;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.modal-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(33, 33, 33, 0.8);
  transform: translateY(60%) scale(0);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.modal-visible {
  transform: translateY(0) scale(1);
}

.close-modal {
  position: absolute;
  top: 6px;
  right: 12px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  font-size: 16px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}

.close-modal:hover{
    transform: scale(1.02);
}


.empty-field-error{
    outline: 1px solid red;
}

.username{
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
}