<?xml version="1.0" encoding="UTF-8"?>
<!-- Ref: https://logging.apache.org/log4j/2.x/manual/configuration.html -->
<Configuration status="INFO">

    <!-- https://logging.apache.org/log4j/2.x/manual/appenders.html -->
    <Appenders>
        <Console name="Simple" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="File" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Simple"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>